@{
  Layout = "_Layout";
}
<h1>Add a artist</h1>
<p> Add a artist here:</p>
<form action="/artists" method="post">
  <label for="name">Artist Name</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add Artist</button>
</form>

<p><a href="/">Back Home</a></p>
<p><a href="/artists">Back to List of Artists</a></p>