@{
  Layout = "_Layout";
}

@using musicOrganizer.Models;

<h3>Here is the list of CD's :</h3>
<ol>
  @foreach(Cd cd in @Model["cds"])
  {
    <li><a href='/artists/@Model["artist"].Id/cds/@cd.Id'>@cd.Title</a></li>
  }
</ol>
<p><a href='/artists/@Model["artist"].Id/cds/new'>Add a new cd</a></p>
<p><a href="/artists">Return to List of Artists</a></p>
<p><a href="/">Return to Main page</a></p>