@{
  Layout = "_Layout";
}

<h3>Here is the list of the Cds:</h3>
<p>CD Title: @Model["cd"].Title</p>
<p>Artist Name: @Model["artist"].Name</p>

<p><a href="/artists">Return to List of Artists</a></p>
<p><a href='/'>Return to Main Page</a></p>